body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 253, 230);
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
